.a{
    color:white;
    background-color: blue;
    font-size:larger;
}
.b{
    color: brown;
    background-color: blanchedalmond;

}
.c{
    background-color: black;
    color: white;
    
}
#f{
    background-color: blueviolet;
    color: white;
}